*{
    margin: 0;
    padding: 0;
}

.main{
    height: 100vh;
    width: 100%;
    background: radial-gradient(circle at 50% 50%, #192233 20%, #000);
    display: flex;
    align-items: center;
    justify-content: center;
}
.calbody{
    background-color: #02090e;
    padding: 1vw;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    opacity: 0.9;
}
.display{
    height: 8vw;
    width: 20vw;
    color: #d7e6fd;
    padding: 2vw;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: xx-large;
    overflow-x: auto;
    white-space: nowrap;
}
.buttondiv{
    display: flex;
    cursor: pointer;
}
.buttonbox{
    height: 5vw;
    width: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #d7e6fd;
}
.orangebutton{
    color: #7890fb;
}
.equalbutton{
    background-color: #7890fb;
    border-radius: 50%;
}